:root {
  --black: 0, 0, 0;
  --white: 255, 255, 255;
  --brand: 0, 0, 0;
  --brand-hover: 102, 102, 102;
  --bg1: 255, 255, 255;
  --bg2: 249, 249, 250;
  --bg5: 255, 255, 255;
}

[data-mode="dark"]:root {
  --white: 0, 0, 0;
  --black: 255, 255, 255;
  --brand: 159, 159, 248;
  --brand-hover: 95, 95, 149;
  --bg1: 42, 42, 42;
  --bg2: 255, 255, 255;
  --bg5: 229, 229, 229;
}

@media (prefers-color-scheme: dark) {
  &:not([data-mode="light"]) {
    :root {
      --white: 0, 0, 0;
      --black: 255, 255, 255;
      --brand: 159, 159, 248;
      --brand-hover: 95, 95, 149;
    }
  }
}
